<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Neoimport>
      <version>0.1.0</version>
    </Neo_Neoimport>
  </modules>
  <frontend>
    <routers>
      <neoimport>
        <use>standard</use>
          <args>
            <module>Neo_Neoimport</module>
            <frontName>neoimport</frontName>
          </args>
      </neoimport>
    </routers>
		<layout>
		  <updates>
			<neoimport>
			  <file>neoimport.xml</file>
			</neoimport>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <neoimport>
        <class>Neo_Neoimport_Helper</class>
      </neoimport>
    </helpers>
	<blocks>
	  <neoimport>
		<class>Neo_Neoimport_Block</class>
	  </neoimport>
	</blocks>
  </global>
</config> 