<?xml version="1.0"?>
<config>
  <modules>
    <Neo_ManageRetailer>
      <version>0.1.0</version>
    </Neo_ManageRetailer>
  </modules>
   <frontend>
    <routers>
      <manageretailers>
        <use>standard</use>
          <args>
            <module>Neo_ManageRetailer</module>
            <frontName>manageretailers</frontName>
          </args>
      </manageretailers>
    </routers>
  </frontend>
  <global>
    <helpers>
      <manageretailer>
        <class>Neo_ManageRetailer_Helper</class>
      </manageretailer>
    </helpers>
	<blocks>
	  <manageretailer>
		<class>Neo_ManageRetailer_Block</class>
	  </manageretailer>
	</blocks>
	<models>
	  <manageretailer>
		<class>Neo_ManageRetailer_Model</class>
		<resourceModel>manageretailer_mysql4</resourceModel>
	  </manageretailer>
	  <manageretailer_mysql4>
		<class>Neo_ManageRetailer_Model_Mysql4</class>
		<entities>		  
			  <becomeretailer>
				<table>become_retailer</table>
			  </becomeretailer>
        </entities>
	  </manageretailer_mysql4>
	</models>
	<resources>
	  <manageretailer_setup>
		<setup>
		  <module>Neo_ManageRetailer</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </manageretailer_setup>
	  <manageretailer_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </manageretailer_write>
	  <manageretailer_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </manageretailer_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <manageretailer>
	    <use>admin</use>
		<args>
		  <module>Neo_ManageRetailer</module>
		  <frontName>admin_manageretailer</frontName>
		</args>
	  </manageretailer>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <manageretailer module="manageretailer">
		<title>ManageRetailer</title>
		<sort_order>100</sort_order>
		<children>
		  <becomeretailer module="manageretailer">
		    <title>Manage Retailers</title>
			<sort_order>0</sort_order>
			<action>admin_manageretailer/adminhtml_becomeretailer</action>
		  </becomeretailer>
		</children>
	  </manageretailer>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<manageretailer translate="title" module="manageretailer">
			  <title>ManageRetailer</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <becomeretailer translate="title">
			<title>Manage Becomeretailer</title>
			<sort_order>0</sort_order>
		  </becomeretailer>
			  </children>
			</manageretailer>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<manageretailer>
		  <file>manageretailer.xml</file>
		</manageretailer>
	  </updates>
	</layout>
  </adminhtml>
</config> 